.feed-item {
    padding: 0.5em 0em;
    width: 100%;
    max-width: 635px;
    max-height: 200px;
    overflow: hidden;
    font-family: sans-serif;
}

.pubdate {
    overflow: hidden;
    color:#9e9e9e;
    line-height: 18px;
    font-size: 13px;
}

.summary {
    overflow: hidden;
    color:#9e9e9e;
    font-size: 13px;
    text-overflow: ellipsis;
    word-break: break-word;
    line-height: 18px;
    max-height: 57px;
}

.title {
    color: #333333;
}

img {
    width: 100%;
    min-width: 75px;
    height: 90px;
    margin-top: 4px;
    border-radius: 10px;
    background-color: #9e9e9e;
}

.feed-item a, .feed-item a:hover, .feed-tem a:visited {
  color: #333333;
  font-weight: 700;
}